@import url('menu.css');
:root {
  --nav-height: 52px;
  --left-menu-width: 240px;
  --content-top-padding: 30px;
  --header-height: 60vh;
}
.shift-left {
  margin-left: var(--left-menu-width);
}
.uk-navbar {
  position: fixed;
  top: 0;
  z-index: 4;
  min-height: var(--nav-height);
  line-height: var(--nav-height);
  width: 100%;
  padding: 0 20px 0 20px;
  background-color: #222a30;
  transition: 0.4s;
}
.uk-navbar button {
  transition: 0.4s;
}
.uk-navbar button .uk-icon {
  line-height: var(--nav-height);
  fill: white;
}
.uk-navbar button:active .uk-icon {
  fill: #0f6ecd;
}
.bg-black {
  background: #111 !important;
}
.headerWrapper {
  height: var(--header-height);
  margin-top: calc((var(--nav-height) + var(--content-top-padding)) * -1);
  padding-top: var(--nav-height);
}
.headerWrapper > nav {
  position: fixed;
  display: block;
  --diff: calc(var(--nav-height) - var(--content-top-padding));
  top: calc(60vh - var(--content-top-padding) - var(--diff));
  z-index: 2;
  width: calc(100% - var(--left-menu-width));
  height: var(--nav-height);
  line-height: var(--nav-height);
  background-color: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  text-align: center;
  color: #eee;
}
@media screen and (max-width: 960px) {
  .headerWrapper > nav {
    top: calc(60vh - var(--content-top-padding));
    width: 100%;
    padding: 0;
    font-size: 0.8rem;
  }
}
#header-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60vh;
  padding: 0;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 960px) {
  #header-container {
    width: calc(100% - var(--left-menu-width));
    left: var(--left-menu-width);
  }
}
#header-container > div:first-of-type {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  height: 60vh;
  width: 100%;
}
#header-container > h1 {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 960px) {
  #header-container > h1 {
    font-size: 4.5rem;
  }
}
#footer-container {
  position: relative;
  display: block;
  height: 100px;
  padding: 0;
  margin: 0 !important;
}
.uk-card {
  margin-bottom: 30px;
  transition: 0.2s;
}
@media screen and (max-width: 960px) {
  .uk-card .uk-label {
    font-size: 0.7rem;
  }
}
.uk-card .uk-card-body {
  min-height: 90px;
}
#card-image-holder {
  position: relative;
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 960px) {
  #card-image-holder .uk-overlay {
    font-size: 0.7rem;
    line-height: 1rem;
    padding: 10px;
  }
}
#card-image-holder > .uk-position-bottom {
  display: block;
  transition: 0.2s;
  top: 68%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#card-image-holder > .uk-position-bottom > .uk-card-badge {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.2s;
  text-align: center;
  height: 60px;
  line-height: 60px;
  background-color: rgba(30, 135, 240, 0.3);
  color: #eee;
  top: auto;
  bottom: 0;
  backdrop-filter: blur(2px);
  text-transform: lowercase;
}
